/**
 * RESET
 * ---------------------------------------------------------------------------
 */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/**
 * APP STYLES
 * ---------------------------------------------------------------------------
 */

html, body, #root {
  overflow: hidden;
  font-family: 'Press Start 2P', monospace;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: 256px;
  overflow: hidden;
  background: white;
}

.cell {
  transform-style: preserve-3d;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -50vh;
  width: 100vh;
  height: 100vh;
}

.face {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 8px solid #000;
  background: #fff;
}

.face_north {
  transform: translateZ(-50vh);
}

.face_south {
  transform: translateZ(50vh);
}

.face_east {
  transform: translateX(50vh) rotateY(-90deg);
}

.face_west {
  transform: translateX(-50vh) rotateY(90deg);
}

.face_start {
  background-image: url("./images/start.jpg");
  background-position: 50% 50%;
  background-size: auto 90%;
  background-repeat: no-repeat;
}

.face_exit {
  background-image: url("./images/exit.jpg");
  background-position: 50% 50%;
  background-size: auto 90%;
  background-repeat: no-repeat;
}

.item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.item_key {
  transform:rotateX(90deg) translateZ(-50vh);
  background-image: url("./images/key.jpg");
  background-position: 50% 50%;
  background-size: auto 20%;
  background-repeat: no-repeat;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px 16px;
  text-align: center;
}

.controls_top {
  bottom: auto;
  top: 0;
  text-align: left;
  z-index: 30;
}

.controls__row {
  position: relative;
}

.controls__item {
  touch-action: manipulation;
  display: inline-flex;
  vertical-align: middle;
  padding: 0 16px;
  font-size: 12px;
  color: #000;
  margin: 4px;
  border: none;
  border-radius: 16px;
  border-bottom: 4px solid #e2d92d;
  background-color: #fff31c;
  background-position: 50% 50%;
  background-size: 50% auto;
  background-repeat: no-repeat;
  box-sizing: content-box;
  min-width: 16px;
  min-height: 48px;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
}

.controls__item:active {
  border-bottom-width: 1px;
}

.controls__item_mini {
  min-width: 0;
  min-height: 32px;
  border-radius:10px;
}

.controls__item_left {
  background-image: url("./icons/corner-left-down.svg");
}

.controls__item_forward {
  background-image: url("./icons/arrow-up.svg");
}

.controls__item_backward {
  background-image: url("./icons/arrow-down.svg");
}

.controls__item_right {
  background-image: url("./icons/corner-right-down.svg");
}

.controls__item_map {
  background-image: url("./icons/map.svg");
}

.controls__item_sound_on {
  background-image: url("./icons/volume.svg");
}

.controls__item_sound_off {
  background-image: url("./icons/volume-x.svg");
}

.controls__item_context {
  position: absolute;
  right: 0;
  bottom: 0;
}

.map {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0 , 0, 0.3);
}

.map__canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -128px;
  width: 256px;
  height: 256px;
  background: #fff;
  box-shadow: 8px 8px 0 0 black;
}

.message {
  position: absolute;
  top: 92px;
  left: 32px;
  right: 32px;
  padding: 8px 16px;
  background: #fff31c;
  border-radius: 8px;
  font-size: 10px;
  line-height: 1.6;
  z-index: 20;
}

.message-enter {
  opacity: 0.01;
  transform: translate3d(0, -100%, 0);
}

.message-exit.message-exit-active {
  opacity: 0.01;
  transform: translate3d(0, 100%, 0);
}

.message-exit,
.message-enter.message-enter-active {
   opacity: 1;
   transform: translate3d(0, 0, 0);
 }

.message-enter-active,
.message-exit-active {
   transition: opacity 300ms cubic-bezier(.39,1.37,.82,1.17), transform 300ms cubic-bezier(.39,1.37,.82,1.17);
 }
